body{
    background-color: plum;
}
h1{
    text-align: center;
    font-size: 35px;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.slogan{
    text-align: center;
    margin: 0;
}
.prices{
    box-shadow: 4px 4px 3px pink;
   
    border-color: rgb(220, 110, 225);
    background-color: rgb(245, 215, 221);
}
.prices p{
    display: inline;
}
.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .flavor {
    text-align: left;
    width: 74%;
    margin-left: 1px;
  }
  
  .price {
    text-align: right;
    width: 24%;
  }

section p{
    color:black ;
    margin: 5px;
  }

h3{
    margin: 5;
    margin-bottom: -5px;
    text-align: center;
}
hr{
  border-color:  white;
  background-color: white;
  height: 1.5px;

}

i{
  text-align: center;
}.images {
  width: 70%;
  margin: auto;
  border: 2px solid;
  animation: fadeBorder 4s infinite;
  box-sizing: border-box;
  text-align: center; /* Ensures images are centered within the div */
}

img {
  width: calc(40% - 14px); /* Adjust width to account for margins */
  box-shadow: 2px 2px 4px white;
  margin: 6px;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
}

@keyframes fadeBorder {
  0%{
    border-color: white;
  }
  100%{
    border-color: palevioletred;
  }
}